@model RoleTopMVC.ViewsModels.BaseViewModel

<!DOCTYPE html>
<html lang="br/pt">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RoleTop</title>
    <link rel="stylesheet" type="text/css" href="~/css/nav.css">
    <!-- colocar css -->
    @if("Home".Equals(Model.NomeView))
    {
        <link rel="stylesheet" type="text/css" href="~/css/style.css">   
        
    }
    @if("Galeria".Equals(Model.NomeView))
    {
        <link rel="stylesheet" type="text/css" href="~/css/galeria.css">  

    }
    @if("SobreNos".Equals(Model.NomeView))
    {
        <link rel="stylesheet" type="text/css" href="~/css/sobreNos.css">
    }
    @if("FAQ".Equals(Model.NomeView))
    {
        <link rel="stylesheet" type="text/css" href="~/css/FAQ.css"> 
    }
    @if("LocalizeNos".Equals(Model.NomeView))
    {
        <link rel="stylesheet" type="text/css" href="~/css/localize.css">
    }
    @if("Cadastro".Equals(Model.NomeView))
    {
        <link rel="stylesheet" type="text/css" href="~/css/cadastro.css">
        <link rel="stylesheet" type="text/css" href="~/css/util.css">
    }
    @if("Login".Equals(Model.NomeView))
    {
        <link rel="stylesheet" type="text/css" href="~/css/login.css">
        <link rel="stylesheet" type="text/css" href="~/css/util.css">
    }
    @if("Cliente".Equals(Model.NomeView))
    {
        <link rel="stylesheet" type="text/css" href="~/css/logado.css">
        <link rel="stylesheet" type="text/css" href="~/css/util.css">
    }
    @if("Agenda".Equals(Model.NomeView))
    {
        <link rel="stylesheet" type="text/css" href="~/css/agenda.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
        <link src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
        <link src="https://code.jquery.com/jquery-3.3.1.min.js">
    }
    @if("Logadissimo".Equals(Model.NomeView))
    {
        <link rel="stylesheet" type="text/css" href="~/css/nav2.css">
    }
    @if("Dashboard".Equals(@Model.NomeView))
    {
       
        <link href="~/css/dashboard.css" rel="stylesheet" type="text/css">
    }

    


</head>


    <header >
    @if ("Nav1".Equals(Model.NomeView2))
    {
        Html.RenderPartial("_NavPrincipal");
    }

    @if("Nav2".Equals(Model.NomeView2))
    {
        Html.RenderPartial("_Nav2");
    }

    </header>

@RenderBody()

</html>