<main>
<section id="felix">
    <section id="virtual">
            <div class="container">
                <img src="img/tour-virtual-360-ofc.png">
            </div>
        </section>

        <section id="ambiente">
            <p> <h1>
                Ambiente 
                </h1>
            </p>
        </section>
        <section id="ambiente19">
            <div class="container1">
                <img src="img/artist-1838653_960_720.jpg">
            </div>
        </section>

        <section id="bannerBaixa">
            <p> <h1>
                    Planta Baixa 
                </h1>
             </p>
            <div>
                <img src="img/planta-baixa-senai.JPG">
            </div>
        </section>
    </section>
</main>