<main>
                <div class="text">
                </div>
    <section id=banner>
                    <h4>
                        <u>Aqui seu evento é <b>TOP</b></u>
                    </h4>
                    <h1> 
                        <strong>O espaço ideal para seu evento </strong> 
                    </h1>
            <div class="flex_container">
                <!-- <img src="img/audience.jpg" alt="Snow"> -->
            </div>
    </section>
                    <button class="btn">
                        Fazer Tour 360
                    </button>
        <section class="banner2">
        
            <div id="local"> 
                <img src="" alt="">
                <h3>Localização</h3>     
            <br>
            
                <p>
                    Estamos localizados em uma parte nobre da
                    <br> cidade , de facil acesso.
                </p>
            </div>
            <br>
            <br>
            
            <div id="ambiente"> 
                <img src="" alt="">
                <h3>Nosso Ambiente</h3>
            <br>      
                <p>
                    Aconchegante para a família ,amigos e conhecidos
                    <br> nosso espaço é adaptado e aconchegante também
                    <br> aos cadeirantes.
                </p>
            </div>
            <br>
            <br>
            <div id="segurança"> 
                <img src="" alt="">
                <h3>Segurança</h3>
            <br>
                <p>
                    Câmeras instaladas em todos os lugares, saídas
                    <br> de ermegências, extintores,etc.
                </p>
            </div>
        </section>
        <br>
        <br>
        <section class="planos">
            <h3>
                <b>
                    Conheça nossos pacotes:)
                </b>
            </h3>
            <br>
            <br>
            <div id="nove">
                <h4>
                    Padrão 
                </h4>
                <br>
                <p>
                    Somente o aluguel do espaço.
                </p>
            </div>
        
            <br>
            <div id="dez">
                <h4 >
                    Simples
                </h4>
                <br>
                <p>
                    Somente aluguel do espaço + som.
                </p>
            </div >
            <br>
            <br>
            <div id="onze">
                <h4>
                    Gold
                </h4>
                <br>
                <p>
                    Somente aluguel do espaço + iluminação.
                </p>
            </div>
            <br>
            <br>
            <div id="doze">
                <h4>
                    Extra
                </h4>
                <br>
                <p>
                    Aluguel do espaço + som + iluminação.
                </p>
            </div>
        </section>
</main>