    <main>

        
        <div class="limiter">
            <div class="container-Cadastro100">
                <div class="wrap-Cadastro100 p-l-50 p-r-50 p-t-77 p-b-30">
                    <form class="Cadastro100-form validate-form">
                        <span class="Cadastro100-form-title p-b-55">
                            Orçamento
                        </span>
                        
                        <div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
                            
                            <select  name="pacote" required> 
                                    <option value=""> Selecione um Pacote </option>
                                <option value="Padrão"> Padrão </option>
                                 <option value="Simples"> Simples </option>
                                  <option value="Gold"> Gold </option>
                                   <option value="Extra"> Extra </option>
                            </select>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <span class="lnr lnr-envelope"></span>
                            </span>
                        </div>
                        
                        <div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
                            <input class="input100" type="date" name="email" placeholder="Data do Role">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <span class="lnr lnr-envelope"></span>
                            </span>
                        </div>
                        
                        <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
                            
                            <select  name="Genero" required> 
                                    <option value=""> Tipo do seu RoleTop </option>
                                <option value="Balada"> Balada </option>
                                 <option value="Casamento"> Casamento </option>
                                  <option value="Festa de Aniversario"> Festa de Aniversário </option>
                                   <option value="Outro"> Outro </option>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <span class="lnr lnr-envelope"></span>
                            </span>
                        </div>
                        
                        <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
                            
                            <input class="input100" type="text" name="celular" placeholder="Observações">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <span class="lnr lnr-envelope"></span>
                            </span>
                        </div>
                        
                        <div class="container-Cadasrto100-form-btn p-t-25">
                            <button class="Cadastro100-form-btn">
                                Enviar 
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </main>