<main>
        <section id="FAQ">
            <div class="F">
                <br>
                <h3>
                    <p>FAQ</p>
                </h3>
                <br>
            </div>
            <div id="um">
                <h3>
                    <p>Area para fumantes?</p>
                </h3>
                <br>
                <P> Sim.</P> 
            </div>
        </section>
        <section>
            <div id="dois">
                <h3>
                    <p>A onde fica localidade do salão?</p>
                </h3>
                <br>
                    <p>Rua: Alameda Barão de Limeira.</p>
            </div>
        </section>
        <section>
            <div id="quatro">
                <h3>
                    <p>Banheiro unisex?</p>
                </h3>
                <br>
                <p>Não.</p>
            </div>
        </section>
        <section>
            <div id="cinco">
            <h3>
                <p>Tem camarim?</p>
            </h3>
            <br>
                <p>Sim.</p>
            </div>
        </section>
        <section>
            <div id="seis">
                <h3>
                    <p>Tem sensores de incêndio?</p>
                </h3>
                <br>
                <p>Temos sim.</p>
            </div>
        </section>
    </main>