*{
      margin: 0px;
      padding: 0%;
      box-sizing: border-box;
}

div.F h3 
{
      color: #7D0093;
      justify-content: center;
      display: flex;
      margin: 0px;
      padding: 0px
}

#um 
{
background-color: #f1f1f1;

}

#dois {
      background-color: #ffffff;
}

#quatro {
      background-color: #f1f1f1;
}

#cinco {
background-color: #ffffff;
}

#seis{
      background-color: #f1f1f1
}

