*{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
}


.container h3 
{
      color: #7D0093;
      justify-content: center;
}
.container 
{
      display: flex;
      justify-content: center;

}