*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}


#nomezinho {
    text-align: center;
    font-size: 22px;
    color: purple;
}

.alex {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}

.alex img {
    border-radius: 50%;
    height: 200px;
    width: 210px;
}

#cesar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}

#cesar img {
    border-radius: 50%;
    height: 200px;
    width: 210px;
}

.role-top {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: yellow;
    font-size: 3em;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black ;
}

#dj {
    align-items: center;
    align-content: center;
}