<main>
        <section id="nomezinho">
            <div class="SN">
                <br>
            <h3>
                <p>SOBRE NÓS</p>
            </h3> 
            </div>
        </section>
        <section id="alexandre">
            <div class="alex">

                <div class="foto">
                    <div class="w3-container">
                        <img src="~/img/alexandre-2.jpg" alt="Norway">
                    </div>  
                </div>
                <div class="sobre">
                    <p> Eai , como estão ?!
                        Sou o Alexandre Fukaya e tenho 42 anos , proprietário da RT junto ao Cesár.
                        <br>
                        Venham conhecer nosso espaço e ver se valeu a pena a nossa loucura de criar um lugar 
                        para a juventude ... 
                    </p>
                </div>
            </div>
        </section>
        <section id="cesar">
            <div class="cesar">

                <div class="sobre2">
                    <p>Eai , tudo beleza ?!
                        Sou o Cesar Sportore e tenho 32 anos , com toda a certeza entrei nesse desafio 
                        <br>
                        junto ao meu amigo Alexandre, nosso intuito com certeza foi fazer algo mais jovem. 
                        Ficou curioso ?
                        <br>
                        Venha nos conhecer e ver como ficou !!
                    </p>
                </div>
            </div>
            <div>
            
            <div class="w3-container">
                <img src="~/img/jackie-cesar.png" class="w3-circle" alt="Norway">
                </div>
            </div>
        </section>
        <h1>A Role Top</h1>
        <section class="role-top">
                <article>
                    <p> Role Top, é uma casa de eventos que contém Banheiros, Cozinha, Camarins, 
                        Espaço para fumantes, Estacionamento no lugar para +/- 3 carros 
                        (contém convenio com estacionamentos perto),
                        Segurança (cameras ,ate incendio) e muito mais , venha ver !!
                    </p>
                </article>
                <article>
                    <p> Role Top, é uma casa de eventos que contém Banheiros, Cozinha, Camarins, 
                        Espaço para fumantes, Estacionamento no lugar para +/- 3 carros 
                        (contém convenio com estacionamentos perto),
                        Segurança (cameras ,ate incendio) e muito mais , venha ver !!
                    </p>
                </article>
        </section>
        <section >
            <div id="dj" >
                <img src="~/img/dj-720589_960_720.jpg">
            </div>
        </section>
    </main>